<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
  <test name="Default test" verbose="2">
    <classes>
   <!--  <class name="CompanyName_Automation.Project_Name_AutomationWithSelenium1.DemoTestSuite"/> -->
     <class name="CompanyName_Automation.Project_Name_AutomationWithSelenium1.SuiteA"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
